.task-status, .task-priority  {
    display: inline-block;
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    border-radius: 0.25rem;
}
.status-new {
    background-color: #fff3cd;
    color: #856404;
}
.status-completed {
    background-color: #d4edda;
    color: #155724;
}

.priority-low {
    background-color: #d4edda;
    color: #155724;
}

.priority-normal {
    background-color: #fff3cd;
    color: #856404;
}

.priority-urgent {
    background-color: #f8d7da;
    color: #721c24;
}

.btn-border-right-radius-off {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

th, td {
    vertical-align: middle;
}